<div class="sidebar">
    <ul>
        <li>
            <a href="/admin/flight">
                <span class="icon"><img src="/icons/icon-flight.png" class="sm-icon" aria-hidden="true"></span>
                <span class="title">Flight</span>
            </a>
        </li>
        <li>
            <a href="/admin/airline">
                <span class="icon"><img src="/icons/icon-airline.png" class="sm-icon" aria-hidden="true"></i></span>
                <span class="title">Airline</span>
            </a>
        </li>
        <li>
            <a href="/admin/airport">
                <span class="icon"><img src="/icons/icon-airport.png" class="sm-icon" aria-hidden="true"></span>
                <span class="title">Airport</span>
            </a>
        </li>
        <li>
            <a href="/admin/aircraft">
                <span class="icon"><img src="/icons/icon-aircraft.png" class="sm-icon" aria-hidden="true"></span>
                <span class="title">Aircraft</span>
            </a>
        </li>
        <li>
            <a href="/admin/user">
                <span class="icon"><img src="/icons/icon-user.png" class="sm-icon" aria-hidden="true"></span>
                <span class="title">User</span>
            </a>
        </li>
    </ul>
</div>
 
<div class="logout">
    <center><%= currentUser.firstname %> <a href="/logout"><img src="/icons/icon-logout.png" class="sm-icon"></a></center>
</div>

<div class="info-mainpage">
