.add-info-box{
    color: #FFFFFF; }

.add-info-box h1{ 
    padding-top: 20px;
    padding-bottom: 20px; }

.add-info-subbox{
    background: #FFFFFF;
    color: #000000;
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 40px; }

.btn-card-margin{
    margin-left: 5px;
    margin-right: 5px;
}    


