.searchbox{
    border-radius: 5px; 
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.flight-tab{
    font-size: medium;
    background-color: rgb(160, 205, 246);
    border-color: #FFFFFF;
    border-radius: 5px; }


.searchbutton{
    padding: 5px 15px 5px 15px;
    margin-top: 25px;
    margin-bottom: 0px; }

